# IDE
/.idea/
/.vscode/

# Rust build
/target/

# Zinc build
/zinc-tester/ordinar/*/data/
/zinc-tester/ordinar/*/target/debug/
/zinc-tester/ordinar/*/target/release/

# Book build
/zinc-book/build/

# Visual Studio Code extension build
/vscode/*.vsix
