# IDE
/.idea/
/.vscode/
/.cargo/

# Rust build
/target/

# Book build
/zinc-book/build/*

# Zinc build
/zinc-examples/*/build/
/zinc-examples/*/data/
/zinc-tests/*/build/
/zinc-tests/*/data/

# Builds
*.tar.gz
